@charset "UTF-8";

/* 设置模态框位置 */
.modal-dialog{
    margin-top: 10em;
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}

.link{
	font-size:24px;
	color:#aa9144;
	font-weight:600;
	font-family:'Montserrat',sans-serif;
}

.important{
    color: #23527c;
}

.inbound-link .alert-info:hover {
    background-color: #31708f;
    color: #d9edf7;
}

.inbound-link .alert-warning:hover {
    background-color: #8a6d3b;
    color: #fcf8e3;
}

.inbound-link .alert-danger:hover {
    background-color: #a94442;
    color: #f2dede;
}

.inbound-link .alert-success:hover {
    background-color: #3c763d;
    color: #dff0d8;
}

.paragraph{
    text-indent: 2em;
}

.footer-social ul li a img {
    padding-right: 10px;
    width: 30px;
}

.program-icon{
    width:80px;
}

.content .row{
    margin-bottom: 2em;
}

.btn{
    margin-bottom: 1em;
}

/* normal size */
b, strong {
    font-weight: 700;
}

blockquote{
    margin: 1em 0.3em;
    background: #eee;
}

article.markdown img{
    max-width: 100%;
}

article.markdown h1{
    text-align: center;
    margin: 1em;
}

article.markdown h2{
    color: #666;
}

article.markdown h1,article.markdown h2,article.markdown h3,article.markdown h4,article.markdown h5,article.markdown h6 {
    clear: both;
    line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 1.5em 0 0;
}

article.markdown p{
    text-indent: 2em;
}

article.markdown li p{
    text-indent:unset;
}

article.markdown{
    font-family: KaiTi,kaiti,Kaiti,楷体;
}

.sidenav{
    margin: 2em 0em;
}

.hljs{
    white-space: unset;
}

.post-quote blockquote {
    background-color: unset;
}

.author{
    line-height: 1.5em;
    text-align: right;
    margin: 1em;
    color: #000;
    font-weight: bold;
}

.SMS{
    margin: 2em 0;
}

/* Large Devices,Wide Screens */
@media screen and (max-width:2000px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:48em;
	}
}
/* Large Devices,Wide Screens */
@media screen and (max-width:1600px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:48em;
	}
}
/* Large Devices,Wide Screens */
@media screen and (max-width:1200px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:41em;
	}
}
/* Medium Devices,Desktops */
@media screen and (max-width:992px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:34em;
	}
}
/* Small Devices,Tablets */
@media screen and (max-width:768px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:23em;
	}
}
/* Extra Small Devices,Phones */ 
@media screen and (max-width:480px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:16em;
	}
}
/* Custom,iPhone Retina */ 
@media screen and (max-width:320px) {
	.bilibili{
		width:100%;
		margin: 2em 0;
		height:10em;
	}
}


/* service-bottom-right1 */
.service-bottom-right1 a h4{
	color:#337ab7;
}
.service-bottom-right1 a h4:hover{
	color:#F72459;
}
.service-bottom-right1{
	padding: 3.87em 3.5em;
    background: #F7F7F7;
}
.service-bottom-right1 h4{
	text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.6em;
    color: #999;
    margin: 0;
}
.service-bottom-right1 h4 span{
	display: block;
    color: #F72459;
    margin: .5em 0 0;
    font-size: .8em;
}
.service-bottom-right1 p{
	font-size:14px;
	color:#999;
	margin:1em 0 2em;
	line-height:1.8em;
}
@media (max-width:1024px){
	.service-bottom-right1 {
		padding: 1.5em 1.5em;
	}
	.service-bottom-right1 h4 {
		font-size: 1.4em;
    }
}
@media (max-width:480px){
	.service-bottom-right1 h4 {
		font-size: 1.2em;
    }
}
@media (max-width: 414px){
	.service-bottom-right1 h4 {
		font-size: 1em;
	}
	.service-bottom-right1 {
		padding: 1em;
    }
}