<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
    <nav class="cl-effect-13" id="cl-effect-13">
        <ul class="nav navbar-nav">
            <li><a href=".." ><b>首页</b></a></li>
            <li><a href="." class="active"><b>编程入门</b></a></li>
            <li><a href="short-codes.html"><b>测试模块</b></a></li>
            <li><a href="services.html"><b>CTF</b></a></li>
            <li><a href="blog.html"><b>Blog</b></a></li>
            <li><a href="mail.html"><b>联系站长</b></a></li>
        </ul>
    </nav>
</div>
<!-- /.navbar-collapse -->